@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap');

/* commit */
:root {
    --cream: #F1F6F9;
    --gray--blue: #394867;
    --dark--blue: #212A3E;
    --gray: #9BA4B5;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    background-color: var(--gray--blue);
    font-family: 'Nunito', sans-serif;
}
.navbar_main {
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark--blue);
}
.navbar_main div {
    align-items: center;
}
.navbar__ul {
    display: flex;
    width: 20%;
    margin: 25px 25px auto 0px;
    justify-content: space-between;
   
}
.navbar__ul li {
    list-style: none;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
}
.navbar__ul li:hover {
    color: gray;
    font-size: 20;
    font-weight: bold;
    cursor: pointer;
}
.navbar__ul li a {
    text-decoration: none;
    color: var(--gray)
}
.navbar__img {
    height: 100%;
    margin: 0px 0px 0px 20px;
}
.title {
    margin: 10px 0px 25px 0px;
    text-align: center;
    color: var(--cream);
}
.sec__grid {
    background-color: var(--gray--blue);
    width: 80%;
    height: 1100px;
    margin: auto;
    display: grid;
    grid: repeat(4, 1fr) / repeat(3, 1fr)
    
}
.sec__grid div {
    width: 230px;
    height: 250px;
 
}
.img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}